# macOS
.DS_Store
*.swp
*.lock

# Xcode
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcsettings/

# Build
build/
*.app
*.ipa
*.dSYM
*.xcarchive

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# API Keys and Config Files
*.xcconfig
Secrets.plist
GoogleService-Info.plist
.env
